{% extends "base.html" %}
{% block content %}
<h1>Name: {{ room.name }}</h1>
<p><b>Open time: </b> {{ room.open_time|time:"l, j F Y" }}</p>
<p><b>Close time: </b> {{ room.close_time|time:"l, j F Y" }}</p>
<p><b>Capacity:</b> {{ room.capacity|default:"No questions" }}</p>
<hr>
{% comment %} <h3>Questions</h3>
{% for question in poll.question_set.all %}
<div class="row mb-2">
    <div class="col-4">
        {{question.text}}
        <ul>
            {% for choice in question.choice_set.all %}
                <li>{{ choice.text }} : {{choice.value}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-2">
        {% if question.question_type == '01' %}
            Single answer
        {% else %}
            Multiple answer
        {% endif %}
    </div>
</div> {% endcomment %}
{% endfor %}
<hr>
{% endblock content %}

